* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  min-width: 700px;
  overflow: auto;
}

.map-screen {
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 999999999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.admin,
.sidebar {
  z-index: 2147483500;
  width: 250px;
  margin-top: 80px;
  height: 100%;
  overflow: auto;
}

.admin-title,
.sidebar-store__name {
  text-align: center;
  height: 80px;
  line-height: 80px;
  background: #d9e5eb;
  border-bottom: 1px solid #ccc;
}

.admin-store-title,
.sidebar-store__field,
.sidebar-store__type,
.sidebar-store__hours {
  padding-left: 10px;
  font-size: 18px;
  padding: 5px;
}

.admin-store-title,
.sidebar-store__type {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background: #f7f7f7;
}



input[type="text"] {
  border-radius: 5px;
  border: 1px solid #999;
  padding: 5px;
}

.btn {
  border: 1px solid #999;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  border: 1px solid white;
  background: #f37e7f;
}

.hidden {
  display: none;
}

.blue-color {
  color: #4d849e;
}

.transition-opacity {
  opacity: 0;
  transition: 1s opacity ease-out;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.fixed {
  position: fixed;
  background: white;
}
