.modal-window {
  position: absolute;
  top: 5%;
  height: 90%;
  width: 50%;
  min-width: 600px;
  z-index: 999999999999999999;
  background: white;
  margin-left: 50%;
  left: -25%;
  padding: 15px;
  box-shadow: 1px 0px 5px 0px #bbb;
  overflow: auto;
}

.modal-window__title {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.modal-window__caption,
.modal-window__caption .req {
  font-size: 14px;
  text-align: center;
}

.modal-window__text {
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  color: #f37e7f;
  text-decoration: none;
}

[name="other-store-type"] {
  margin-top: 10px;
}

.store-type {
  float: left;
  width: 46%;
  text-align: left;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  background: #dfdfdf;
  padding: 2px 5px 2px 0px;
}

.req {
  color: red;
}

.modal-window__submit {
  margin-left: 50%;
  left: -45px;
  clear: both;
  padding: 10px;
  width: 90px;
  display: block;
  margin-bottom: 10px;
  position: relative;
  top: 10px;
}

.modal-window__close {
  position: absolute;
  right: 13px;
  top: 10px;
  cursor: pointer;
}

.left-col,
.right-col {
  margin-top: 10px;
  width: 50%;
  text-align: center;
}

.left-col {
  padding-left: 10px;
}

.input-label {
  margin-top: 10px;
}

.yellow {
  color: #ffcc00;
}
